:root {
  --color-primary: #a10000;
  --color-secondary: #f9f9f9;
  --color-accent: #ebebeb;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif, Arial;
}

.text-primary {
  color: var(--color-primary);
}

.bg-accent {
  background-color: var(--color-accent);
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

li {
  line-height: 2rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

body {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  background-color: #a100004d;

  margin: 0;
}

main {
  max-width: 1280px;
  margin: inline-start;
  margin: 0rem auto 4rem auto;
  background-color: var(--color-secondary);
}

.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 1px solid white;
  vertical-align: middle;
}

article {
  padding: 3rem clamp(1rem, 5%, 3rem) 4rem clamp(1rem, 5%, 3rem);
}

.description {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;

  & .image-resize {
    max-height: 467px;
    width: 100%;
    object-fit: cover;
  }
}
